services:
    db:
        image: postgres:15
        restart: always
        environment:
            - POSTGRES_DB=${POSTGRES_DB:-db}
            - POSTGRES_USER=${POSTGRES_USER:-user}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
            - POSTGRES_HOST=${POSTGRES_HOST:-db}
            - POSTGRES_PORT=${POSTGRES_PORT:-5432}
        volumes:
            - ./pgdata:/var/lib/postgresql/data
        ports:
            - "5432:5432"
        networks:
            - backend

    web:
        build:
            context: ./src
            dockerfile: Dockerfile
        command: python manage.py runserver 0.0.0.0:8000
        volumes:
            - .:/workspace
            - ./src:/app
        ports:
            - "8000:8000"
        depends_on:
            - db
        environment:
            - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
            - DJANGO_DEBUG=True
            - DJANGO_ALLOWED_HOSTS=life-ustc.tiankaima.dev
            - POSTGRES_DB=${POSTGRES_DB:-db}
            - POSTGRES_USER=${POSTGRES_USER:-user}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
            - POSTGRES_HOST=${POSTGRES_HOST:-db}
            - POSTGRES_PORT=${POSTGRES_PORT:-5432}
        networks:
            - backend

networks:
    backend:
        driver: bridge
